body {
    font-family: "Raleway", sans-serif;
}

:root {
    --Dark: #00233c;
    --Primary: #0269b3;
    --Accent: #80e8ff;
    --AccentLight: #ecf9ff;
    --Border: #ddd;
    --Text: #333;
    --Invert: #fff;
    --Disabled: #d3d3d3;
}

.sunset {
    --Dark: #3c332a;
    --Primary: #8c6251;
    --Accent: #eec294;
    --AccentLight: #ecffef;
}

.earth {
    --Dark: #2a3c3c;
    --Primary: #51758c;
    --Accent: #e8ee94;
    --AccentLight: #f0f9ff;
}

.text-invert {
    color: var(--Invert);
}

.navbar {
    position: fixed;
    width: 100%;
}

.hero {
    background-color: var(--Dark);
    color: var(--Invert);
}

.hero h1 {
    color: var(--Invert);
    font-size: 2.5rem;
    font-weight: 700;
}

span.hero-title {
    color: var(--Accent);
}

.hero p {
    color: var(--Invert);
    font-weight: 400;
    font-size: 1.25rem;
}

.wrapper-content {
    display: grid;
    gap: 40px;
}

.hero .hero-item-group {
    display: flex;
    gap: 3rem;
}

.btn-tertiary {
    background-color: var(--Invert);
    color: var(--Primary);
    font-weight: bold;
}

.btn-tertiary:hover {
    background-color: var(--Accent);
    color: var(--Dark);
}

@media screen and (min-width: 768px) {
    .hero {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .hero-left {
        padding: 140px 80px;
    }
    .hero-right img {
        height: 100%;
        width: 100%;
    }
    .desktop-view {
        display: block;
    }
    .mobile-view {
        display: none;
    }
}

@media screen and (max-width: 768px) {
    .hero {
        display: flex;
        flex-direction: column-reverse;
    }
    .hero img {
        width: 100%;
    }
    .desktop-view {
        display: none;
    }
    .mobile-view {
        display: block;
    }
    .wrapper-group {
        padding: 3rem 1.25rem;
    }
}